* {
    font-family: arial, verdana, sans-serif;
}
body {
    color: black;
    border: 1px solid black;
    margin: 6px;
    padding: 5px;
}

header {
    grid-area: header;
    margin: 6px;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}
.mainNav{
    grid-area: Nav;
    background-color: black;  
     border: 1px solid black;
    margin: 6px;
    padding: 5px;
}

.text{
    display flex: 
    text-align: left;
    vertical-align: center;
    align-items: center;
}

 .grid {
    display: grid;
    grid-template-areas: "header" "Nav" "Article" "flexcontainer" "sidebar" "footer";
}

 li {
    display: inline;
}
 h1, h2{
     color: green;
}
article {
    grid-area: Article;
    background-color: #eee;
    border: 1px solid black;
    font-size: 12px;
    height: 530px;
    margin: 6px;
    padding: 5px;
}
.flex-container {
    grid-area: flexcontainer;
    height: 450px;
    border: 1px solid black;
    background-color: #eee;
    font-size: 12px;
    margin: 6px;
    padding: 5px;
}
.Second_flex-container{
 grid-area: flexcontainer;
    height: 450px;
    border: 1px solid black;
    background-color: #eee;
    font-size: 12px;
    margin: 6px;
    padding: 5px;
}
#sidebar {
    grid-area: sidebar;
    display: flex;
    align-items: center;
    justify-content: left;
    border: 1px solid black;
    height: 420px;
    margin: 6px;
    padding: 5px;
    
}
 .flex-container #description {
    vertical-align: center;
}
img {
    border: 1px solid black;
    width: 200px;
    height: 200px;
}
footer {
    grid-area: footer;
    font-size: 12px;
    border: 1px solid black;
    height: 170px;
    background-color: #eee;
    overflow: scroll; 
    margin: 6px;
    padding: 5px;
}
@media screen and (min-width: 576px) {
    .grid{
        grid-template-columns: 3fr 1fr;
        grid-template-areas: 
        "header header"
        "Nav Nav"
        "Article sidebar"
        "flexcontainer sidebar"
        "footer footer"
    }
    }



@media screen and (min-width: 768px) {
* {
   